<main style="height: 80vh;">
    <app-HeaderSidebarT></app-HeaderSidebarT>
    <h1 style="white-space: nowrap;">Grupos 
      <label>
        <div class="content-wrapper" id="popup1">
          <a style="position: absolute; right: 20px; top: 10%;" class="notification">
            <mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
            </a>
        <input type="checkbox" />
        <div class="confirm-modal">
          <form action="#do-something" method="get">
            <p>Maestro del Grupo #ID, mando una invitación a Pseudonimo
                <br>
                ¿Aceptas que Pseudonimo entre al grupo?</p>
            <div class="options">
                <button class="btn si">Si</button>
                <button class="btn no">No</button>
              </div>
          </form>
        </div>
        </div>
      </label></h1>



    <div class="ag-format-container" style="overflow: scroll;height: 104%; width: 95%;">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a routerLink="/Tutor/Clases" (click)="SelClase('Grupo 1')" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Grupo 1 <br>
            Tutorado: Alguien   <br>
            Maestro:  Alguien   <br>
            Institución:  Un lugar<br><br><br><br>
          </div>
          <div class="ag-courses-item_Vistas-box">
            Integrantes:
            <span class="ag-courses-item_Vistas">
              20
            </span>
          </div>
          <div class="ag-courses-item_date-box">
            Clases:
            <span class="ag-courses-item_date">
              50
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            UX/UI Web-Design&#160;+ Mobile Design
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Annual package "Product+UX/UI+Graph designer&#160;2022"
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Graphic Design
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_title">
            Motion Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              30.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_title">
            Front-end development&#160;+ jQuery&#160;+ CMS
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg">
          </div>
          <div class="ag-courses-item_title">
            Digital Marketing
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Interior Design
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              31.10.2022
            </span>
          </div>
        </a>
      </div>
  
    </div>
    

  </div>
  <article class="content">  
    <div class="borroso">

</div>
</article>
<div class='air air1  Iborroso' style="z-index: 1;"></div>
<div class='air air2  Iborroso' style="z-index: 1;"></div>
<div class='air air3  Iborroso' style="z-index: 1;"></div>
<div class='air air4  Iborroso' style="z-index: 1;"></div>	
</main>
