<app-HeaderSidebarP></app-HeaderSidebarP>
<main>
<h1 class="page-header">Creación de clases</h1>
<div class="form-container">
  <form action="" role="form">
    <input id='step2' type='checkbox'>
    <input id='step3' type='checkbox'>
    <input id='step4' type='checkbox'>
    <input id='step5' type='checkbox'>
    <input id='step6' type='checkbox'>
    <input id='step7' type='checkbox'>
    <input id='step9' type='checkbox'>
    <input id='step10' type='checkbox'>

    <div id="part1" class="form-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Part 1</h3>
        </div>
        <mat-form-field id="Titulo" appearance="fill">
          <mat-label>Título de la clase.</mat-label>
          <input matInput requiered maxlength="20">
        </mat-form-field>

        <mat-form-field id="Idioma" appearance="fill" requiered>
        <mat-label>Idioma</mat-label>
        <mat-select>
          <mat-option value="Español">Español</mat-option>
          <mat-option value="Inglés">Inglés</mat-option>
        </mat-select>
        </mat-form-field>
        
      
        <div>
          <h3>Etiquetas (Máx. 3)</h3>
          <form>
              <tag-input
              [maxItems]="3"
                  [theme]="'bootstrap3-info'"
                  [ngModel]="[]"
                  name="items">
              </tag-input>
          </form>
        </div>

        <mat-form-field>
        <mat-label>¿Asignar a algún grupo?</mat-label>
        <mat-select [formControl]="grupos" multiple>
          <mat-select-trigger>
            {{grupos.value?.[0] || ''}}
            <span *ngIf="(grupos.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(grupos.value?.length || 0) - 1}} {{grupos.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let grupo of ListaGrupo" [value]="grupo">{{grupo}}</mat-option>
        </mat-select>
        </mat-form-field>
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <label for='step2' id="continue-step2" class="continue">
          <div class="btn btn-default btn-success btn-lg">Continue</div>
        </label>
        </div>
      </div>
    </div>

    <div id="part2" class="form-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Part 2</h3>
        </div>
        <table>
          <thead>
          <tr>
            <th>
              id
            </th>
            <th>
              Pregunta
            </th>
            <th>
              Imagen
            </th>
            <th>
              Solución
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1
            </td>
            <td>
              <mat-form-field id="instruccion" appearance="fill" requiered>
                <mat-label>Instrucción</mat-label>
                <input matInput  maxlength="35">
              </mat-form-field>
            </td>
            <td>
              <div class="=container w-50 ,x-auto pt-5">
                <div class="mb-5">
                  <input type="file" id="image" class="form-control" accept="image/*" (change)="upload($event)">
                </div>
              
                <div *ngIf="url">
                  <img [src]="url" alt="" class="img-fluid img-thumbnail">
                </div>
                </div>
            </td>
            <td>
              <mat-form-field id="solución" appearance="fill" requiered>
                <mat-label>Respuesta</mat-label>
                <input matInput  maxlength="35">
              </mat-form-field>
            </td>
          </tr>

        </tbody>
        </table>

      </div>
      <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
        <label for='step2' id="back-step2" class="back">
          <div class="btn btn-default btn-primary btn-lg" role="button">Back</div>
        </label>
        <label for='step3' id="continue-step3" class="continue">
          <div class="btn btn-default btn-success btn-lg">Continue</div>
        </label>
      </div>
    </div>

    <div id="part3" class="form-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Part 3</h3>
        </div>
        <table>
          <thead>
          <tr>
            <th>
              id
            </th>
            <th>
              Pregunta
            </th>
            <th>
              Imagen
            </th>
            <th>
              Solución
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              2
            </td>
            <td>
              <mat-form-field id="instruccion2" appearance="fill" requiered>
                <mat-label>Instrucción</mat-label>
                <input matInput  maxlength="35">
              </mat-form-field>
            </td>
            <td>
              <div class="=container w-50 ,x-auto pt-5">
                <div class="mb-5">
                  <input type="file" id="image2" class="form-control" accept="image/*" (change)="upload($event)">
                </div>
              
                <div *ngIf="url">
                  <img [src]="url" alt="" class="img-fluid img-thumbnail">
                </div>
                </div>
            </td>
            <td>
              <mat-form-field id="solución2" appearance="fill" requiered>
                <mat-label>Respuesta</mat-label>
                <input matInput  maxlength="35">
              </mat-form-field>
            </td>
          </tr>
        </tbody>
        </table>

      </div>
      <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
        <label for='step3' id="back-step3" class="back">
          <div class="btn btn-default btn-primary btn-lg" role="button">Back</div>
        </label>
        <label for='step4' id="continue-step4" class="continue">
          <div class="btn btn-default btn-success btn-lg">Continue</div>
        </label>
      </div>
    </div>
  </form>
</div>









<div class='air air1  Iborroso' style="z-index: 1;"></div>
<div class='air air2  Iborroso' style="z-index: 1;"></div>
<div class='air air3  Iborroso' style="z-index: 1;"></div>
<div class='air air4  Iborroso' style="z-index: 1;"></div>	    
</main>