
<div class="hero"> 
  <app-HeaderSidebarA></app-HeaderSidebarA>
  <div class="ag-format-container" style="overflow: scroll;height: 90%; width: 95%;position: absolute; top: 15%;">
    <div class="ag-courses_box" style="z-index: 1;">
      <div class="ag-courses_item">
        <a href="/Tutor/PreviewClase" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
  
          <div class="ag-courses-item_title">
            Clase de matematicas
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_Vistas-box">
            Vistas:
            <span class="ag-courses-item_Vistas">
              80
            </span>
          </div>
          <div class="ag-courses-item_date-box">
            Likes:
            <span class="ag-courses-item_date">
              80
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/BusquedasT" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
  
          <div class="ag-courses-item_title">
            Ciencias
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/BusquedasT" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
  
          <div class="ag-courses-item_title">
            Annual package "Product+UX/UI+Graph designer&#160;2022"
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/BusquedasT" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
  
          <div class="ag-courses-item_title">
            Graphic Design
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/BusquedasT" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_title">
            Motion Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              30.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/BusquedasT" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_title">
            Front-end development&#160;+ jQuery&#160;+ CMS
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/BusquedasT" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
          <div class="ag-courses-item_title">
            Digital Marketing
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/BusquedasT" class="ag-courses-item_link">
          <div class="matematicas"><div class="ag-courses-item_bg"></div></div>
  
          <div class="ag-courses-item_title">
            Interior Design
          </div>
          <div class="ag-autor-item_title">
            José Alfredo UnNombreMuyLargo Jimenez
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              31.10.2022
            </span>
          </div>
        </a>
      </div>
  
    </div>

  </div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
</div>