<mat-card>
    <mat-card-content><h1 mat-dialog-title>¿Cuál es el motivo de la denuncia?</h1>
        <mat-form-field appearance="fill">
          <mat-label>Motivo</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{toppings.value?.[0] || ''}}
        <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
          (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
    </mat-form-field>
    <button style="position: absolute; bottom: 10%; right: 5%;" [disabled]="(toppings.value?.length || 0 )<= 0" mat-flat-button color="warn"  mat-dialog-close (click)="Denuncia()">Enviar</button>
    </mat-card-content>
</mat-card>