<main style="height: 78vh;">
    <app-HeaderSidebarP></app-HeaderSidebarP>
    <h1>Denuncias</h1>
	<article class="content">
      <div class="borroso">
          <div>
          <div class="tbl-header">
            <table>
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Clase</th>
                  <th>Motivo(s)</th>
                </tr>
              </thead>
            </table>
          </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                  <td>1</td>
                  <td><a routerLink="/Profesor/EditarClase">Matematicas II</a></td>
                  <td>Contenido erróneo</td>
                </tr>
                <tr>
                  <td>1.2</td>
                  <td>2.2</td>
                </tr>
                <tr>
                  <td>1.3</td>
                  <td>2.3</td>
                </tr>
                <tr>
                  <td>1.4</td>
                  <td>2.4</td>
                </tr>
                <tr>
                            <td>1.5</td>
                            <td>2.5</td>
                          </tr>
                          <tr>
                            <td>1.6</td>
                            <td>2.5</td>
                          </tr>
                          <tr>
                            <td>1.7</td>
                            <td>2.5</td>
                          </tr>
                          <tr>
                            <td>1.8</td>
                            <td>2.5</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      </div>
    </article>
    <div class='air air1  Iborroso' style="z-index: 1;"></div>
    <div class='air air2  Iborroso' style="z-index: 1;"></div>
    <div class='air air3  Iborroso' style="z-index: 1;"></div>
    <div class='air air4  Iborroso' style="z-index: 1;"></div>	
</main>
