#sup {
    position: absolute;
    background: none;
    width: auto;
    height: 50%;
  }
  
  
  #inf {
    position: absolute;
    background: none;
    right: 2%;
    width: auto;
    height: 50%;
  }


  #izq {
    position: absolute;
    background: none;
    width: 50%;
    height: auto;
    padding: 30px 20px;
  }
  
  
  #der {
    position: absolute;
    background: none;
    right: 2%;
    width: 50%;
    height: auto;
    padding: 30px 20px;
  }