<main style="height: 80vh; background-size: cover;">
  <app-HeaderSidebarP></app-HeaderSidebarP>
<h1>Grupo titulo</h1>
<section id="Izquierdo" style="z-index: 3;">
  <div class="ag-format-container" style="overflow: scroll;height: 104%; width: 95%;">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a routerLink="/VisualizarClase" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Clase #
          </div>
          <div class="ag-autor-item_title">
            Materia
          </div>
          <div class="ag-courses-item_Vistas-box" style="display:inline;">
            Vistas:
            <span class="ag-courses-item_Vistas">
              20
            </span>
          </div>
          <div class="ag-courses-item_date-box" style="display:inline;">
            Likes:
            <span class="ag-courses-item_date">
              50
            </span>
          </div>
        </a>
      </div>
  <div class="ag-courses_item">
    <a href="/BusquedaT" class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        UX/UI Web-Design&#160;+ Mobile Design
      </div>
      <div class="ag-autor-item_title">
        José Alfredo UnNombreMuyLargo Jimenez
      </div>
      <div class="ag-courses-item_date-box">
        Start:
        <span class="ag-courses-item_date">
          04.11.2022
        </span>
      </div>
    </a>
  </div>

  <div class="ag-courses_item">
    <a href="/BusquedaT" class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        Annual package "Product+UX/UI+Graph designer&#160;2022"
      </div>
      <div class="ag-autor-item_title">
        José Alfredo UnNombreMuyLargo Jimenez
      </div>
      <div class="ag-courses-item_date-box">
        Start:
        <span class="ag-courses-item_date">
          04.11.2022
        </span>
      </div>
    </a>
  </div>

  <div class="ag-courses_item">
    <a href="/BusquedaT" class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        Graphic Design
      </div>
      <div class="ag-autor-item_title">
        José Alfredo UnNombreMuyLargo Jimenez
      </div>
      <div class="ag-courses-item_date-box">
        Start:
        <span class="ag-courses-item_date">
          04.11.2022
        </span>
      </div>
    </a>
  </div>

  <div class="ag-courses_item">
    <a href="/BusquedaT" class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>
      <div class="ag-autor-item_title">
        José Alfredo UnNombreMuyLargo Jimenez
      </div>
      <div class="ag-courses-item_title">
        Motion Design
      </div>

      <div class="ag-courses-item_date-box">
        Start:
        <span class="ag-courses-item_date">
          30.11.2022
        </span>
      </div>
    </a>
  </div>

  <div class="ag-courses_item">
    <a href="/BusquedaT" class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>
      <div class="ag-autor-item_title">
        José Alfredo UnNombreMuyLargo Jimenez
      </div>
      <div class="ag-courses-item_title">
        Front-end development&#160;+ jQuery&#160;+ CMS
      </div>
    </a>
  </div>

  <div class="ag-courses_item">
    <a href="/BusquedaT" class="ag-courses-item_link">
      <div class="ag-courses-item_bg">
      </div>
      <div class="ag-courses-item_title">
        Digital Marketing
      </div>
      <div class="ag-autor-item_title">
        José Alfredo UnNombreMuyLargo Jimenez
      </div>
    </a>
  </div>

  <div class="ag-courses_item">
    <a href="/BusquedaT" class="ag-courses-item_link">
      <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        Interior Design
      </div>
      <div class="ag-autor-item_title">
        José Alfredo UnNombreMuyLargo Jimenez
      </div>
      <div class="ag-courses-item_date-box">
        Start:
        <span class="ag-courses-item_date">
          31.10.2022
        </span>
      </div>
    </a>
  </div>

</div>

</div>

<app-FooterCrear style="position: relative; left: -0%; top: -25%; z-index: 10;"></app-FooterCrear>
</section>

<section id="Derecha">
<h1> Alumnos </h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Alumno</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Alumno 1</td>
          <td><mat-icon style="text-align: center;" >create</mat-icon></td>
          <td><mat-icon style="text-align: center;" >delete_forever</mat-icon></td>
        </tr>
        <tr>
          <td>Alumno 2 con un nombre largo</td>
          <td>AUSENCO</td>
          <td>$2.38</td>
        </tr>
        <tr>
          <td>AAX</td>
          <td>ADELAIDE</td>
          <td>$3.22</td>
        </tr>
        <tr>
          <td>XXD</td>
          <td>ADITYA BIRLA</td>
          <td>$1.02</td>
        </tr>
        <tr>
          <td>AAC</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
        </tr>
        <tr>
          <td>AAD</td>
          <td>AUSENCO</td>
          <td>$2.38</td>
        </tr>
      </tbody>
    </table>
  </div>
<app-FooterCrear (click)="DInvitacion()" style="position: relative; left: -0%; top: 0%; z-index: 10;"></app-FooterCrear>
</section>

</main>
<div class='air air1  Iborroso' style="z-index: 2;"></div>
<div class='air air2  Iborroso' style="z-index: 2;"></div>
<div class='air air3  Iborroso' style="z-index: 2;"></div>
<div class='air air4  Iborroso' style="z-index: 2;"></div>	
