.masthead {
	padding-top: 10.5rem;
	padding-bottom: 6rem;
	text-align: center;
	color: #fff;
	background-image: url("https://rare-gallery.com/resol/1920x1080/49831-ClassroomRoom-4k-Ultra-HD-Wallpaper.jpg");
	opacity: 0.9;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
  }
  .masthead .masthead-subheading {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.5rem;
	margin-bottom: 25px;
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .masthead .masthead-heading {
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-bottom: 2rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  @media (min-width: 768px) {
	.masthead {
	  padding-top: 17rem;
	  padding-bottom: 12.5rem;
	}
	.masthead .masthead-subheading {
	  font-size: 2.25rem;
	  font-style: italic;
	  line-height: 2.25rem;
	  margin-bottom: 2rem;
	}
	.masthead .masthead-heading {
	  font-size: 4.5rem;
	  font-weight: 700;
	  line-height: 4.5rem;
	  margin-bottom: 4rem;
	}
  }
  

  .mat-toolbar {
    z-index:1000;
}


.Imagen{
    width: 120px; height: auto;
}




