
<div class="container">

    <form id="standard-2" method="get" action="" id="form1">
      <input type="text" placeholder="Titulo de la clase" class="search-txt-input" name="q" maxlength="100">
      <button type="submit" form="form1"  class="search-button">
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" placeholder="Autor" class="search-txt-input" name="q" maxlength="100">
      <button type="submit" form="form1"  class="search-button">
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" placeholder="Institucuón" class="search-txt-input" name="q" maxlength="100">
      <button type="submit" form="form1"  class="search-button">
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" placeholder="Tags" class="search-txt-input" name="q" maxlength="100">
      <button type="submit" form="form1"  class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
  