<section>
  <app-navBar1></app-navBar1>
  <!--<mat-toolbar class="navbar">
    <mat-toolbar-row>
        <span class="menu-spacer"></span>        
        <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
          <mat-button-toggle value="green"><mat-icon>play_arrow</mat-icon><mat-icon>thumb_up</mat-icon></mat-button-toggle>
          <mat-button-toggle value="blue"><mat-icon>report_problem</mat-icon><mat-icon>verified_user</mat-icon></mat-button-toggle>
          <mat-button-toggle value="blue">Tags</mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-raised-button disabled>Acciones -></button>
    </mat-toolbar-row>
</mat-toolbar>-->
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>
  </section>


